body{
    width: 100vw;
    overflow-x: hidden;
}
.preloader-wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.preloader{
    width:35px;
    height:35px;
    display:inline-block;
    padding:0;
    border-radius:100%;
    border:2px solid;
    border-top-color:rgba(0,0,0, 0.65);
    border-bottom-color:rgba(0,0,0, 0.15);
    border-left-color:rgba(0,0,0, 0.65);
    border-right-color:rgba(0,0,0, 0.15);
    -webkit-animation: preloader4 0.8s linear infinite;
    animation: preloader4 0.8s linear infinite;
}
@keyframes preloader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}
.user-list tbody tr:hover{
    cursor: pointer;
    background: #dddddd;
}
.user-list tbody td{
    font-size: 14px;
}
.user-list tbody td > a,
.user-list tbody td > button{
    padding: 3px 7px;
    font-size: 11px;
}
.add-user{
    width: 100%;
    padding-left: 50px;
    margin: 10px 0;
}
.user-form{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.user-form form{
    width: 320px;
}